<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_for(:session, url: '/login') do |f| %>
          <%= f.label :account_id, 'アカウントID' %>
          <%= f.text_field :account_id, value: @account_id, placeholder: '@tsubuyaki_Taro' %>
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, placeholder: '8字以下' %>
          <input type="submit" value="ログイン">
        <% end %>
      </div>
    </div>
  </div>
</div>