<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for @user, url: users_create_path do |f| %>
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, value: @user.name, placeholder: 'つぶやき太郎' %>
          <%= f.label :account_id, 'アカウントID' %>
          <%= f.text_field :account_id, value: @user.account_id, placeholder: '@tsubuyaki_Taro' %>
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email, value: @user.email, placeholder: 'tsubuyaki@sample.jp' %>
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, placeholder: '8字以下' %>
          <%= f.label :password_confirmation, 'パスワード（確認）' %>
          <%= f.password_field :password_confirmation, placeholder: '8字以下' %>
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>