<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to @user.name, "/users/#{@user.id}" %>
        <span class="users-account-id"><%= @user.account_id %></span>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at.to_s(:datetime_jp) %>
      </div>
      <!-- いいね！の表示 -->
      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end  %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end  %>
      <% end %>
      <%= @likes_count %>
      <!-- ログイン中ユーザが投稿者の場合のみ編集、削除リンクを表示する -->
      <% if @user.id == @current_user.id %>
        <div class="post-menus">
          <%= link_to "編集", "/posts/#{@post.id}/edit" %>
          <%= link_to "削除", "/posts/#{@post.id}/destroy", method: "delete" %>
        </div>
      <% end %>
    </div>
  </div>
</div>